header{
    background:rgb(168, 111, 36);
    color:rgb(255, 255, 255);
    text-align: center;

}

main{
    background-color:rgb(219, 200, 115);
    width: 90%;
    margin: 0 auto;

}
p {

    color:black;
    text-align: justify;
}
h1{
    background-color:#e08d21;
    text-align: center;
    margin: 0auto;
}
h2{
    background-color:rgb(250, 231, 144);
    text-align: center;
}
img {
    width: 350px;
    height: 400px;
    margin: auto;
    display: block;
}
